<div id="ve-login" class="row">
    <div class="account-wall">
        <div>
            <img src="assets/logo-large.svg" alt="Program Logo">
        </div>
        <div>
            <form name="loginForm" ng-submit="login(credentials)">
                <button class="btn btn-block btn-primary" type="submit">Log In
                    <span ng-if="spin" ><i class="fa fa-spin fa-spinner"></i></span>
                </button>
            </form>
        </div>
    </div>
    <div class="login-banner">
        <div class="login-box login-banner">
            <ul>
                <li ng-repeat="label in loginBanner">{{label}}</li>
            </ul>
        </div>
    </div>
</div>

